[data-aos="anim-logo"]{
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-70px) translateY(-20px);
    transform: translateZ(-70px) translateY(-20px);
    opacity: 0;
    &.aos-animate{
        letter-spacing: 0.3em;
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}

[data-aos="anim-navbar"]{
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
    &.aos-animate{
        letter-spacing: normal;
        -webkit-transform: translateZ(12px);
        transform: translateZ(12px);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
}
}

[data-aos="anim-social"]{
    -webkit-transform: translateX(-100px) rotate(-720deg);
    transform: translateX(-100px) rotate(-720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0;
    &.aos-animate{
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

[data-aos="anim-home-img"]{
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform-origin: 50% 0%;
    opacity: 0;
    &.aos-animate{
        transform: translateY(0) scaleY(1) scaleX(1);
        transform-origin: 50% 50%;
        opacity: 1;
    }
    @media screen and (max-width: 768px) {
        opacity: 1;
        &.aos-animate {
         opacity: 0.2;
        }
      }
}


[data-aos="anim-title"]{
    letter-spacing: -0.5em;
    -webkit-filter: blur(30px);
    filter: blur(30px);
    opacity: 0;
    &.aos-animate{
        letter-spacing: 0.6em;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

[data-aos="anim-decor"]{
   width: 0;
    filter: blur(30px);
    opacity: 0;
    &.aos-animate{
      width: 100%;
        filter: blur(0);
        opacity: 1;
    }
}
[data-aos="anim-link"]{
    transform: translateZ(400px) translateY(100px);
    opacity: 0;
     &.aos-animate{
        transform: translateZ(0) translateY(0);
        opacity: 1;
     }
 }
 [data-aos="anim-text"]{
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
     &.aos-animate{
        -webkit-filter: blur(0px);
    filter: blur(0px);
        opacity: 1;
     }
 }
 